data/*
img/*
log/*
ok/*
pine/*
sol/*
x*
archive/*
~*
RUN
PUSH
.deps/
.directory
OK
__pycache__
trade_bot_predataloader.py
~*
*~
log*
*log
*out
results*
run
*.psd
*.jpg
*.png
*.xlsx
*.csv
NOTES.md
*.db
DEADJOE
v2/*
.*
cfg/*
ex/*
cimulator.prof
batch*

